### Basic Math operation

In [ ]:
#adding stuff
1 + 6

In [ ]:
#Multiplying stuff
3 * 6

In [ ]:
#substraction 
6 - 7

In [ ]:
#division 
6/2

In [ ]:
#modulo  --> a%b is zero a is dividable by b
6%2

In [ ]:
#power a^b
2**3

In [ ]:
#use parentheses to change order of operations
(2 + 10) * ( 3 + 50)

### Creating and assigning variables

In [ ]:
a = 5 #creating a variable and assigning 5 to it
print(a)
#adding a to a
a+a

In [ ]:
#check the type of a variable by calling the function type()

print("checking the type of the variable b")
#printing type of b
b = 4.1
type(b)

In [ ]:
# do some basic arithmetic operations on the variables
my_income = 100
my_taxes = 0.1

taxes = my_income * my_taxes

taxes

### Strings

Printing stuff

In [ ]:
print ( "hello word")
print ("hello \nworld") # printing on 2 lines
print( "hello \tworld") # world is tabbed in
print ('hello dude\'s pet') #use \ to escape a special character

every character in a string has an index to it.In python , we start the index at 0. 
H E L L O --> word
0 1 2 3 4 --> index
-5 -4 -3 -2 -1

In [ ]:
hello_word = "hello"

for i in range (0,len(hello_word)):
    print (hello_word[i])

use reverse indexing to grab the last letter of a word.

In [ ]:
print(hello_word[-1])

Slicing allows you to grab a subsection of mutltiple characters aka slice. [start:stop:step]

In [ ]:
mystring = "abcdefghi"
print(mystring [2:-1:1]) #print characters from index 2 till the end
print (mystring[:3]) #print characters up to index 3 , so at index 0 1 2 
print(mystring[::2]) #defining a step size of 2
print(mystring[::-1])

string concatenations

In [ ]:
ending = "ion"
im = "imaginat" + ending + " "
print(im)

In [ ]:
#String multiplication
x = im * 3
print(x)

In [ ]:
x.upper()

In [ ]:
x.lower()

In [ ]:
x.split() #returns a list split by the whitespace

In [ ]:
x.split('i')

In [ ]:
#printing only the words starting with letter s
st = 'can you Sir print all the words that starts with the letter S? and yes inlcuding that S and this one in capital letters'

for i in st.split():
    if i[0].lower()=='s':
        print(i)

### formatting with the .format() method

In [ ]:
print('This is a string{}'.format(' adding something here'))

In [ ]:
print(' The {} {} {}'.format('fox','did','poop'))

In [ ]:
print('The {1} {0} {2}'.format('did','fox','poop'))
print ('The {1}y {1}'.format('did','fox','poop'))

### the float formatting

In [ ]:
result = 100/33
print(result)
print(f"the result was {result}")
print("the result was {}".format(result))

In [ ]:
print("the resulat was {r}".format(r=result))
print("the resulat was {r:1.5f}".format(r=result))

### Lists

In [ ]:
my_list = [1,2,3]
print(my_list[0]) #indexing
print (my_list[1:]) #slicing , prints everything from index 1 to end

list_2 = [1 , 1.3, "lola"] # a list can contain multiple types : int , float , string

len(list_2) #checking the length of a list 

print(my_list + list_2) #concatenate

my_list[0] = "I AM GOING TO BE INSERTED AT INDEX 0" # change the elements of a list
print(my_list)

my_list.append("I am going to be appended at the end") # adding an element to the end of the list 
print(my_list)

item_removed = my_list.pop() #removes the last item on a list and returns the item removed
print(my_list)
print(item_removed)

my_list.pop(0) #removing item from index 0 ( by default it's -1)
print(my_list)


letters = ['a','e','j','k','l','r','x']

nb = [4,6,3,9,1]

letters.sort()  #sorts in place
print(letters)

nb.sort()
print(nb)

letters.reverse()
print (letters)

### Dictionnaries

{'key1':'value1','key2':'value2'}

Objects in a dictionnary are retrieved by keyname ( and not with locations like in lists)
Unordered and cannot be sorted.

In [ ]:
my_dict = {'key1' : 'value1' , 'key2' : 'value2'}

print(my_dict)

print(my_dict['key1'])

fruits_prices = {'Oranges' : 2 , 'Apples' : 3 , 'Pears' : 5}
print(f"oranges are priced at {fruits_prices['Oranges']}")

In [ ]:
dict = {'key1':['a','b','c']} 
#I want to grab the letter c and print it in capital

dict['key1'][2].upper()

In [ ]:
#adding values to a dictionnary
my_dict = {'key1' : 'value1' , 'key2' : 'value2'}

my_dict['key3'] = 'value3'

print(my_dict)

In [ ]:
# changing value for a key 
my_dict = {'key1' : 'value1' , 'key2' : 'value2'}

my_dict['key1'] = 'NEW VALUE'
print(my_dict)

In [ ]:
#returning the keys
my_dict.keys()

In [ ]:
#returning the values
my_dict.values()

In [ ]:
#returning the associations
my_dict.items()

### Tuples

Lists that are immutable !

are benificial when we need to have data integrity ( we are not accidently changing values of our tuple when run in a program)

In [ ]:
t = (1,4,3)

my_list = [1,4,3]

type(t) #returns the type

In [ ]:
len(t) #returns the len of the tuple

In [ ]:
t[1]  #indexing

In [ ]:
t[1:] #slicing

In [ ]:
t = ('a' , 'a' , 'b')

t.count('a') #how many times the string a occurs

In [ ]:
t.index('a') #first occurence of the string a

In [ ]:
my_list[0] = 'new'
 # t [0] = 'test'   'tuple' object does not support item assignment

### Sets

Sets are unordered collection of unique elements

In [ ]:
my_set = set()

my_set.add(1)

my_set

In [ ]:
my_set.add(4)
my_set

In [ ]:
my_set.add(1)
my_set

In [36]:
#casting a list in a set
my_list = [1,1,4,4,5,5,6,7,6]

set(my_list)

{1, 4, 5, 6, 7}

In [ ]:
set("Missisipi")

### Booleans

True or False

In [ ]:
1 + 2 == 3 - 0

In [ ]:
1+2 == 1-2

In [ ]:
1 > 2

### I/O with files

In [ ]:
%%writefile myfile.txt
this apparently creates a text file plus putting this rubbish inside
yea everything is created and sent to this file

In [ ]:
myfile = open('myfile.txt')

myfile.read()

In [ ]:
myfile.read() # this is empty since we need to seek to index 0 before attempting to read again

In [ ]:
myfile.seek(0)
myfile.read()

In [ ]:
myfile.seek(0)
myfile.readlines() # creates a list of lines

In [ ]:
myfile.seek(0)
myfile.readlines(1)

In [ ]:
myfile.close() #always close a file after opening it

mode ='r' #read only
mode ='w' #write only
mode = 'r+' # read and write to file
mode ='a' #append mode

In [ ]:
with open ('myfile.txt',mode='r') as myfile :
    contents = myfile.read()

In [ ]:
%%writefile bunnies.txt
There are 10 bunnies on the tree , one dies , 9 remain.
There are 9 bunnies on the tree , one dies , 8 remain.
There are 8 bunnies on the tree, one dies , 7 remain.

In [ ]:
with open ('bunnies.txt',mode='r') as f:
   print(f.read())

In [ ]:
print(len('There are 7 bunnies on the tree, one dies , 6 remain'))
with open ('bunnies.txt',mode='a') as f:
    f.write('There are 7 bunnies on the tree, one dies , 6 remain') #returns the length of data written
    
with open('bunnies.txt',mode='r') as f:
    print(f.read())

### Comparaison operators

In [ ]:
#checking equality
print(2 == 2)
print("Hello" == "Bye" )

In [ ]:
# not equal
print (3 != 4)

In [ ]:
#greater than 
print (2 > 1)

#less than
print (1 < 4)

#greater than 
print(2 >= 1)

#less than
print (3 <= 4)

### Logical Operators
and : true if all conditions to be true
or : true if at least one condition to be true

In [ ]:
if 3 < 2 and 4 > 3 :
    print("yea baby !")
else:
    print ("nop")

In [ ]:
if 3 < 2 or 4 > 3 :
    print("yea baby !")
else:
    print ("nop")

In [ ]:
if not (2 == 1):
    print ("I am printing this since the condition tested was false")

### if , elif and else statements

In [ ]:
if True : 
    print ("yes baby")

In [ ]:
if 3 > 2 : 
    print ("yes it's true")

In [ ]:
hungry = True
if hungry:  # no need to write hungry == True since hungry is a boolean
    print("feed me")
else :
    print("im so full")

In [ ]:
location = "Bank"

if location == "Car shop":
    print("Cars are cool !")
elif location == "Bank":
    print("money money money")
else:
    print("whatever dude")

In [ ]:
##Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, 
##and for the multiples of five print "Buzz". 
##For numbers which are multiples of both three and five print "FizzBuzz"

nbs = [ii for ii in range (0,101)]

for i in range (1,101):
    
    if i%3 ==0 and i%5 == 0:
        print ("FizzBuzz")
    
    if i%3 ==0 :
        print ("Fizz")
    elif i%5 == 0 :
        print("Buzz")
    else:
        print(i)

### for loops

In [ ]:
my_list = [0,1,5,7,8,10]

for i in my_list:
    print(f"item {i}")
    #print (i)

In [ ]:
#checking even/odd numbers in a list before returning them

for i in my_list:
    if i % 2 == 0:
        print("printing even numbers")
        print(i)
    else:
        print("printing odd numbers")
        print(i)

In [ ]:
sum_list = 0

for i in my_list:
    sum_list += i # sum_list = sum_list + i
print(sum_list)

In [ ]:
stisti = "testing"
for letter in stisti:  # for letter in "testing"
    print(letter)

In [ ]:
for _ in "smart city":
    print("cool")

#### Tuple unpacking

In [ ]:
lola = [(1,2),(4,5),(7,9),(16,7)]

for (a,b) in lola: # OR for a,b in lola
    print(a)
    print(b)

#### iterating through a dictionnary

In [ ]:
dicty = {'key1':'value1','key2':'value2','key3':'value3'}

for i in dicty:
    print(i) #prints only the keys
    print(dicty[i]) #prints the value

In [ ]:
for i in dicty.items():
    print(i)

In [ ]:
for key,value in dicty.items():
    print(key,value)

In [ ]:
for vivi in dicty.values():
    print(vivi)

### While loops

In [ ]:
i=1
while i < 5:
    print(f"i am counting to 5 : {i}")
    i +=1
else :
    print("x>5")

#### pass break and continue

In [ ]:
i = 5
if i in (1,2,3):
    pass # does not do anything , just fills the void
else:
    print("not in first loop")

In [ ]:
#continue : goes to the top of the closest enclosing loop

my_string = "Sammy"

for kk in my_string:
    if kk == 'a':
        continue
    print(kk)

In [ ]:
#break : breaks out of the top of the closest enclosing loop

my_string = "Sammy"

for kk in my_string:
    if kk == 'a':
        break
    print(kk)

### Useful operators

#### Range

In [ ]:
for num in range(1,8,2):
    print(num)
    
for num in range(5):
    print(num)  # print 0 to 5

In [ ]:
a=list(range(0,2))

print(a)

In [ ]:
##Use range() to print all the even numbers from 0 to 10.**
#Code Here

for i in range (0,11):
    if i%2== 0:
        print(i)
        
listy = list(range(0,11,2))
print(listy)

#### enumurate

In [ ]:
index_count = 0 
for letter in 'abcdefgh':
    print("at {} we have the letter : {}".format(index_count,letter))
    index_count+=1

In [ ]:
word='abcdefgh'
for letter in enumerate(word):
    print(letter) # return the tuples index and the letter

In [ ]:
word='abcdefgh'
for index,letter in enumerate(word):
    print(index,letter) # return the tuples index and the letter

#### zip

In [ ]:
my_list1 = [1,2,3,4,5]
my_list2 = ['a','b','c','d']

for item in zip(my_list1,my_list2): #zip till the index of the shortest list
    print (item)

In [ ]:
list(zip(my_list1,my_list2))

#### min and max

In [ ]:
list6= [1,4,5,8,54]
print(min(list6))
print(max(list6))

#### Random

In [ ]:
from random import shuffle

shuffle(list6)

list6

In [ ]:
from random import randint

randint(1,45)

#### input function

In [ ]:
hey_there = input("enter a number here")
print(f" you have entered {hey_there}")
type(hey_there) # is always a string

### List Comprehension

In [ ]:
my_list = []
my_string ="hello"

for lett in my_string:
    my_list.append(lett)
my_list

In [ ]:
my_list = [letter for letter in my_string]
print(my_list)

In [ ]:
my_list = [letter for letter in "hello"]
print(my_list)

In [ ]:
my_list = [nb for nb in range(0,11)]
print(my_list)

In [ ]:
my_list = [nb**2 for nb in range(0,11)]
print(my_list)

In [ ]:
my_list = [nb for nb in range(0,11) if nb % 2 == 0]
print(my_list)

In [ ]:
celcius = [0,10,14,21]

fahrneheit = [((9/5)*temp+ 32) for temp in celcius]

fahrneheit

## Functions

In [ ]:
def func ():
    print("this is the fucntion body")
    
func()

In [ ]:
def func (word):
    print(f"this is the function body {word}")
    
func("yes")

In [ ]:
#you can use return with the function for reassignement afterwards instead of only printing out something
def adding(a,b):
    return a+b

addedthis = adding(1,5)
addedthis

In [ ]:
#use docstrings to add explanation on the function
def adding(a,b):
    '''this function adds 2 things'''
    return a+b

help(adding)

In [ ]:
#add a default value so the function won't return an error when called with no arguments

def hello_people(name='Rita'):
    print("hello " + name)
    
hello_people()

In [ ]:
# use the return keyword to get variables after being handled by the function

def hello_name(name='Rita'):
    return "hello " +name

hello1 = hello_name()
print(hello1)

In [ ]:
#function to check if 'dog' is in string

def dog_in_string(s):
    return 'dog' in s.lower()

dog_in_string('Dog went home')

In [ ]:
#if a word starts with a vowel add 'ay' to the end apple-> appleay
#if a word does not start with a vowel , put first letter at the end then add 'ay' word-> ordway

def vowel_word(s):
    return s + 'ay'
def non_vowel_word(s):
    return s[1:len(s)] + s[0] +'ay'  #could have used s[1:] which would have returned the same

def latin_pig(s):
    if s[0] in ['a','e','i','u','y']:
        return vowel_word(s)
    else:
        return non_vowel_word(s)
latin_pig('word')

In [ ]:
latin_pig('apple')

### args and kwargs

In [ ]:
def my_func(a,b):
    '''return 5% of the sum of a and b'''
    return (a+b)*0.05
my_func(5,3)

In [ ]:
#if I need to pass in more arguments
def myfunc(*args):
    return sum(args) *0.05

myfunc(5,6,100,52)

In [ ]:
def my_func(**kwargs):
    print (kwargs)
    if 'animal' in kwargs:
        print ('my favorite animal is {}'.format(kwargs['animal']))
    else :
        print('I did not find anything here')
        
my_func(animal='dog')

In [ ]:
#return only the even numbers

def evens(*args):
    listy = []
    for i in args:  # I can just say for i in args
         if i % 2 == 0:
              listy.append(i)
    return listy

In [ ]:
evens(1,2,6,8,6,9,11)

In [ ]:
#even letters is uppercase and odd letters are uppercase

def myfunc(w='Anthropomorphism'):
    out = []
    for i in range (0,len(w)):
        if i % 2 == 0:
            out.append (w[i].upper())
        else:
           out.append(w[i].lower())
    return ''.join(out)
        
myfunc('hello')

In [ ]:
#Given a sentence return the sentence with the words reversed

def master_yoda(text):
    listy = text.split(' ')
    listy.reverse()
    return " ".join(listy)

master_yoda('I am home')

In [ ]:
#SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order¶

def spy_game(nums):
    for i in range (0,(len(nums)-2)):
        b = nums[i]== 0 and nums[i+1]== 0 and nums[i+2]== 7
        if b == True:
            break
    return b 


spy_game([1,2,4,0,0,7,5])

In [ ]:
# SPy Game - go 2

def spy_game(nums):
    spy = [0,0,7,'x']
    for num in nums:
        if num == spy[0]:
            spy.pop(0)
    return len(spy) ==1

In [ ]:
spy_game([1,2,4,0,0,7])

In [ ]:
###ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
###almost_there(90) --> True
###almost_there(104) --> True
###almost_there(150) --> False
###almost_there(209) --> True
###NOTE: abs(num) returns the absolute value of a number

def almost_there(n):
    return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10))

In [ ]:
#Write a function that returns the *number* of prime numbers that exist up to and including a given number
 #   count_primes(100) --> 25
    
def is_prime(prime_nb):
    for i in range(2,prime_nb):
        if prime_nb % i == 0:
            return False
            break
        return True
                    

is_prime(56)

In [ ]:
def prime_range(nb):
    listy = []
    for i in range (2,nb):
        if is_prime(i):
            listy.append(i)
    return listy
    
prime_range(23)

In [1]:
# Function that returns the nb of prime nb up to a given nb

def prime_range(num):
    primes = [2]
    x = 3
    while x <= num:
        for y in primes:
            if x%y == 0:
                x +=2
                break
                
        else:
            primes.append(x)
            x +=2
    
    return primes

In [2]:
prime_range(20)

[2, 3, 5, 7, 11, 13, 17, 19]

In [ ]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0: 
        if a > b:       # we could have used the min and max function !!!!
            return b
        else:
            return a
    else:
        if a > b:
            return a
        else:
            return b

In [ ]:
### SUMMER OF '69: Return the sum of the numbers in the array, 
#except ignore sections of numbers starting with a 6 and extending to the next 9 
#(every 6 will be followed by at least one 9). Return 0 for no numbers.
#summer_69([1, 3, 5]) --> 9
#summer_69([4, 5, 6, 7, 8, 9]) --> 9
#summer_69([2, 1, 6, 9, 11]) --> 14


def summer_69(arr):
    add = True
    sum = 0
    for nb in arr:
        while add:
            if nb != 6:
                sum += nb
                break
            else:
                add = False
        while not add:
            if nb != 9:
                break                
            else:
                add = True
                break
                
    return sum

In [ ]:
summer_69([1,3,5])

In [ ]:
summer_69([4, 5, 6, 7, 8, 9])

In [ ]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
      return min(a,b)
    else:
       return max(a,b)

## Map , filters and lambda functions

### Maps

In [2]:
def square(a):
    return a**2

In [4]:
my_nums = [1,5,4,7]

#either we do a for loop OR we can use map

for item in map(square,my_nums):
    print(item)

1
25
16
49

### Filters

In [5]:
def check_even(num):
    return num % 2 == 0

In [9]:
my_nums= [1,4,6,7,8,10]

In [10]:
list(filter(check_even,my_nums))

[4, 6, 8, 10]

### Lambda Functions

In [19]:
def square(num): return num **2

In [20]:
square(9)

81

In [22]:
lambda num : num**2 #useful if intended to be used only once

In [23]:
list(map(lambda num : num**2,my_nums))  #using it with map

[1, 16, 36, 49, 64, 100]

In [18]:
lambda num : num%2

In [24]:
list(filter(lambda num : num % 2 , my_nums))

[1, 7]

### Some exercices

In [29]:
# Sphere volum is (4/3)*pie*r**3
import math
def sphere_vol(rdius):
    return (4/3)*math.pi*(rdius**3)

In [30]:
sphere_vol(4)

268.082573106329

Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.

Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
Expected Output : 
No. of Upper case characters : 4
No. of Lower case Characters : 33
HINT: Two string methods that might prove useful: .isupper() and .islower()

If you feel ambitious, explore the Collections module to solve this problem!

In [34]:
def up_low_cases(x):
    up_letters = 0
    lo_letters = 0
    for i in range (0,len(x)):
        if x[i].isupper():
            up_letters +=1
        else:
            lo_letters +=1
    print(f'The string has {up_letters} capital letters and {lo_letters} lowercase letters')

In [35]:
up_low_cases('This is bUllshit')

The string has 2 capital letters and 14 lowercase letters

Write a Python function that takes a list and returns a new list with unique elements of the first list.

Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
Unique List : [1, 2, 3, 4, 5]

In [39]:
def unique_list(listy):
    return list(set(listy))

In [40]:
unique_list([1,1,2,2,4,5])

[1, 2, 4, 5]

### First Milestone - Tic Tac Toe

In [ ]:
import random

random.randint()