### Basic Math operation

In [1]:
#adding stuff
1 + 6

7

In [2]:
#Multiplying stuff
3 * 6

18

In [3]:
#substraction 
6 - 7

-1

In [4]:
#division 
6/2

3.0

In [5]:
#modulo  --> a%b is zero a is dividable by b
6%2

0

In [6]:
#power a^b
2**3

8

In [7]:
#use parentheses to change order of operations
(2 + 10) * ( 3 + 50)

636

### Creating and assigning variables

In [9]:
a = 5 #creating a variable and assigning 5 to it
print(a)
#adding a to a
a+a

5

10

In [17]:
#check the type of a variable by calling the function type()

print("checking the type of the variable b")
#printing type of b
b = 4.1
type(b)

checking the type of a variable

float

In [18]:
# do some basic arithmetic operations on the variables
my_income = 100
my_taxes = 0.1

taxes = my_income * my_taxes

taxes

10.0

### Strings

Printing stuff

In [24]:
print ( "hello word")
print ("hello \nworld") # printing on 2 lines
print( "hello \tworld") # world is tabbed in
print ('hello dude\'s pet') #use \ to escape a special character

hello word
hello
world
hello 	world
hello dude's pet

every character in a string has an index to it.In python , we start the index at 0. 
H E L L O --> word
0 1 2 3 4 --> index
-5 -4 -3 -2 -1

In [21]:
hello_word = "hello"

for i in range (0,len(hello_word)):
    print (hello_word[i])

h
e
l
l
o

use reverse indexing to grab the last letter of a word.

In [22]:
print(hello_word[-1])

o

Slicing allows you to grab a subsection of mutltiple characters aka slice. [start:stop:step]

In [29]:
mystring = "abcdefghi"
print(mystring [2:-1:1]) #print characters from index 2 till the end
print (mystring[:3]) #print characters up to index 3 , so at index 0 1 2 
print(mystring[::2]) #defining a step size of 2
print(mystring[::-1])

cdefgh
abc
acegi
ihgfedcba

string concatenations

In [37]:
ending = "ion"
im = "imaginat" + ending + " "
print(im)

imagination

In [38]:
#String multiplication
x = im * 3
print(x)

imagination imagination imagination

In [39]:
x.upper()

'IMAGINATION IMAGINATION IMAGINATION '

In [57]:
x.lower()

'imagination imagination imagination '

In [43]:
x.split() #returns a list split by the whitespace

['imagination', 'imagination', 'imagination']

In [46]:
x.split('i')

['', 'mag', 'nat', 'on ', 'mag', 'nat', 'on ', 'mag', 'nat', 'on ']

In [90]:
#printing only the words starting with letter s
st = 'can you Sir print all the words that starts with the letter S? and yes inlcuding that S and this one in capital letters'

for i in st.split():
    if i[0].lower()=='s':
        print(i)

Sir
starts
S?
S

### formatting with the .format() method

In [49]:
print('This is a string{}'.format(' adding something here'))

This is a string

In [50]:
print(' The {} {} {}'.format('fox','did','poop'))

fox did poop

In [56]:
print('The {1} {0} {2}'.format('did','fox','poop'))
print ('The {1}y {1}'.format('did','fox','poop'))

The fox did poop
The foxy fox

### the float formatting

In [59]:
result = 100/33
print(result)
print(f"the result was {result}")
print("the result was {}".format(result))

3.0303030303030303
the result was 3.0303030303030303
the result was 3.0303030303030303

In [64]:
print("the resulat was {r}".format(r=result))
print("the resulat was {r:1.5f}".format(r=result))

the resulat was 3.0303030303030303
the resulat was 3.03030

### Lists

In [19]:
my_list = [1,2,3]
print(my_list[0]) #indexing
print (my_list[1:]) #slicing , prints everything from index 1 to end

list_2 = [1 , 1.3, "lola"] # a list can contain multiple types : int , float , string

len(list_2) #checking the length of a list 

print(my_list + list_2) #concatenate

my_list[0] = "I AM GOING TO BE INSERTED AT INDEX 0" # change the elements of a list
print(my_list)

my_list.append("I am going to be appended at the end") # adding an element to the end of the list 
print(my_list)

item_removed = my_list.pop() #removes the last item on a list and returns the item removed
print(my_list)
print(item_removed)

my_list.pop(0) #removing item from index 0 ( by default it's -1)
print(my_list)


letters = ['a','e','j','k','l','r','x']

nb = [4,6,3,9,1]

letters.sort()  #sorts in place
print(letters)

nb.sort()
print(nb)

letters.reverse()
print (letters)

1
[2, 3]
[1, 2, 3, 1, 1.3, 'lola']
['I AM GOING TO BE INSERTED AT INDEX 0', 2, 3]
['I AM GOING TO BE INSERTED AT INDEX 0', 2, 3, 'I am going to be appended at the end']
['I AM GOING TO BE INSERTED AT INDEX 0', 2, 3]
I am going to be appended at the end
[2, 3]
['a', 'e', 'j', 'k', 'l', 'r', 'x']
[1, 3, 4, 6, 9]
['x', 'r', 'l', 'k', 'j', 'e', 'a']

### Dictionnaries

{'key1':'value1','key2':'value2'}

Objects in a dictionnary are retrieved by keyname ( and not with locations like in lists)
Unordered and cannot be sorted.

In [22]:
my_dict = {'key1' : 'value1' , 'key2' : 'value2'}

print(my_dict)

print(my_dict['key1'])

fruits_prices = {'Oranges' : 2 , 'Apples' : 3 , 'Pears' : 5}
print(f"oranges are priced at {fruits_prices['Oranges']}")

{'key1': 'value1', 'key2': 'value2'}
value1
oranges are priced at 2

In [25]:
dict = {'key1':['a','b','c']} 
#I want to grab the letter c and print it in capital

dict['key1'][2].upper()

'C'

In [26]:
#adding values to a dictionnary
my_dict = {'key1' : 'value1' , 'key2' : 'value2'}

my_dict['key3'] = 'value3'

print(my_dict)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [28]:
# changing value for a key 
my_dict = {'key1' : 'value1' , 'key2' : 'value2'}

my_dict['key1'] = 'NEW VALUE'
print(my_dict)

{'key1': 'NEW VALUE', 'key2': 'value2'}

In [30]:
#returning the keys
my_dict.keys()

dict_keys(['key1', 'key2'])

In [32]:
#returning the values
my_dict.values()

dict_values(['NEW VALUE', 'value2'])

In [33]:
#returning the associations
my_dict.items()

dict_items([('key1', 'NEW VALUE'), ('key2', 'value2')])

### Tuples

Lists that are immutable !

are benificial when we need to have data integrity ( we are not accidently changing values of our tuple when run in a program)

In [34]:
t = (1,4,3)

my_list = [1,4,3]

type(t) #returns the type

tuple

In [35]:
len(t) #returns the len of the tuple

3

In [36]:
t[1]  #indexing

4

In [37]:
t[1:] #slicing

(4, 3)

In [38]:
t = ('a' , 'a' , 'b')

t.count('a') #how many times the string a occurs

2

In [39]:
t.index('a') #first occurence of the string a

0

In [40]:
my_list[0] = 'new'
 # t [0] = 'test'   'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

### Sets

Sets are unordered collection of unique elements

In [41]:
my_set = set()

my_set.add(1)

my_set

{1}

In [42]:
my_set.add(4)
my_set

{1, 4}

In [44]:
my_set.add(1)
my_set

{1, 4}

In [45]:
#casting a list in a set
my_list = [1,1,4,4,5,5,6,7,6]

set(my_list)

{1, 4, 5, 6, 7}

In [46]:
set("Missisipi")

{'M', 'i', 'p', 's'}

### Booleans

True or False

In [47]:
1 + 2 == 3 - 0

True

In [48]:
1+2 == 1-2

False

In [49]:
1 > 2

False

### I/O with files

In [61]:
%%writefile myfile.txt
this apparently creates a text file plus putting this rubbish inside
yea everything is created and sent to this file

Overwriting myfile.txt

In [59]:
myfile = open('myfile.txt')

myfile.read()

'this apparently creates a text file plus putting this rubbish inside\n'

In [60]:
myfile.read() # this is empty since we need to seek to index 0 before attempting to read again

''

In [62]:
myfile.seek(0)
myfile.read()

'this apparently creates a text file plus putting this rubbish inside\nyea everything is created and sent to this file\n'

In [66]:
myfile.seek(0)
myfile.readlines() # creates a list of lines

['this apparently creates a text file plus putting this rubbish inside\n']

In [68]:
myfile.seek(0)
myfile.readlines(1)

['this apparently creates a text file plus putting this rubbish inside\n']

In [ ]:
myfile.close() #always close a file after opening it

mode ='r' #read only
mode ='w' #write only
mode = 'r+' # read and write to file
mode ='a' #append mode

In [71]:
with open ('myfile.txt',mode='r') as myfile :
    contents = myfile.read()

In [91]:
%%writefile bunnies.txt
There are 10 bunnies on the tree , one dies , 9 remain.
There are 9 bunnies on the tree , one dies , 8 remain.
There are 8 bunnies on the tree, one dies , 7 remain.

Overwriting bunnies.txt

In [74]:
with open ('bunnies.txt',mode='r') as f:
   print(f.read())

There are 10 bunnies on the tree , one dies , 9 remain.
There are 9 bunnies on the tree , one dies , 8 remain.
There are 8 bunnies on the tree, one dies , 7 remain.

In [92]:
print(len('There are 7 bunnies on the tree, one dies , 6 remain'))
with open ('bunnies.txt',mode='a') as f:
    f.write('There are 7 bunnies on the tree, one dies , 6 remain') #returns the length of data written
    
with open('bunnies.txt',mode='r') as f:
    print(f.read())

52
There are 10 bunnies on the tree , one dies , 9 remain.
There are 9 bunnies on the tree , one dies , 8 remain.
There are 8 bunnies on the tree, one dies , 7 remain.
There are 7 bunnies on the tree, one dies , 6 remain

### Comparaison operators

In [3]:
#checking equality
print(2 == 2)
print("Hello" == "Bye" )

True
False

In [4]:
# not equal
print (3 != 4)

True

In [5]:
#greater than 
print (2 > 1)

#less than
print (1 < 4)

#greater than 
print(2 >= 1)

#less than
print (3 <= 4)

True
True
True
True

### Logical Operators
and : true if all conditions to be true
or : true if at least one condition to be true

In [7]:
if 3 < 2 and 4 > 3 :
    print("yea baby !")
else:
    print ("nop")

nop

In [8]:
if 3 < 2 or 4 > 3 :
    print("yea baby !")
else:
    print ("nop")

yea baby !

In [9]:
if not (2 == 1):
    print ("I am printing this since the condition tested was false")

I am printing this since the condition was false

### if , elif and else statements

In [11]:
if True : 
    print ("yes baby")

yes baby

In [12]:
if 3 > 2 : 
    print ("yes it's true")

yes it's true

In [15]:
hungry = True
if hungry:  # no need to write hungry == True since hungry is a boolean
    print("feed me")
else :
    print("im so full")

feed me

In [16]:
location = "Bank"

if location == "Car shop":
    print("Cars are cool !")
elif location == "Bank":
    print("money money money")
else:
    print("whatever dude")

money money money

In [94]:
##Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, 
##and for the multiples of five print "Buzz". 
##For numbers which are multiples of both three and five print "FizzBuzz"

nbs = [ii for ii in range (0,101)]

for i in range (1,101):
    
    if i%3 ==0 and i%5 == 0:
        print ("FizzBuzz")
    
    if i%3 ==0 :
        print ("Fizz")
    elif i%5 == 0 :
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
Fizz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
Fizz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
Fizz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
Fizz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
Fizz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
Fizz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

### for loops

In [23]:
my_list = [0,1,5,7,8,10]

for i in my_list:
    print(f"item {i}")
    #print (i)

item 0
item 1
item 5
item 7
item 8
item 10

In [25]:
#checking even/odd numbers in a list before returning them

for i in my_list:
    if i % 2 == 0:
        print("printing even numbers")
        print(i)
    else:
        print("printing odd numbers")
        print(i)

printing even numbers
0
printing odd numbers
1
printing odd numbers
5
printing odd numbers
7
printing even numbers
8
printing even numbers
10

In [28]:
sum_list = 0

for i in my_list:
    sum_list += i # sum_list = sum_list + i
print(sum_list)

31

In [29]:
stisti = "testing"
for letter in stisti:  # for letter in "testing"
    print(letter)

t
e
s
t
i
n
g

In [31]:
for _ in "smart city":
    print("cool")

cool
cool
cool
cool
cool
cool
cool
cool
cool
cool

#### Tuple unpacking

In [32]:
lola = [(1,2),(4,5),(7,9),(16,7)]

for (a,b) in lola: # OR for a,b in lola
    print(a)
    print(b)

1
2
4
5
7
9
16
7

#### iterating through a dictionnary

In [35]:
dicty = {'key1':'value1','key2':'value2','key3':'value3'}

for i in dicty:
    print(i) #prints only the keys
    print(dicty[i]) #prints the value

key1
value1
key2
value2
key3
value3

In [36]:
for i in dicty.items():
    print(i)

('key1', 'value1')
('key2', 'value2')
('key3', 'value3')

In [37]:
for key,value in dicty.items():
    print(key,value)

key1 value1
key2 value2
key3 value3

In [39]:
for vivi in dicty.values():
    print(vivi)

value1
value2
value3

### While loops

In [43]:
i=1
while i < 5:
    print(f"i am counting to 5 : {i}")
    i +=1
else :
    print("x>5")

i am counting to 5 : 1
i am counting to 5 : 2
i am counting to 5 : 3
i am counting to 5 : 4
x>5

#### pass break and continue

In [45]:
i = 5
if i in (1,2,3):
    pass # does not do anything , just fills the void
else:
    print("not in first loop")

not in first loop

In [46]:
#continue : goes to the top of the closest enclosing loop

my_string = "Sammy"

for kk in my_string:
    if kk == 'a':
        continue
    print(kk)

S
m
m
y

In [47]:
#break : breaks out of the top of the closest enclosing loop

my_string = "Sammy"

for kk in my_string:
    if kk == 'a':
        break
    print(kk)

S

### Useful operators

#### Range

In [51]:
for num in range(1,8,2):
    print(num)
    
for num in range(5):
    print(num)  # print 0 to 5

1
3
5
7
0
1
2
3
4

In [53]:
a=list(range(0,2))

print(a)

[0, 1]

In [92]:
##Use range() to print all the even numbers from 0 to 10.**
#Code Here

for i in range (0,11):
    if i%2== 0:
        print(i)
        
listy = list(range(0,11,2))
print(listy)

0
2
4
6
8
10
[0, 2, 4, 6, 8, 10]

#### enumurate

In [56]:
index_count = 0 
for letter in 'abcdefgh':
    print("at {} we have the letter : {}".format(index_count,letter))
    index_count+=1

at 0 we have the letter : a
at 1 we have the letter : b
at 2 we have the letter : c
at 3 we have the letter : d
at 4 we have the letter : e
at 5 we have the letter : f
at 6 we have the letter : g
at 7 we have the letter : h

In [57]:
word='abcdefgh'
for letter in enumerate(word):
    print(letter) # return the tuples index and the letter

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')
(5, 'f')
(6, 'g')
(7, 'h')

In [58]:
word='abcdefgh'
for index,letter in enumerate(word):
    print(index,letter) # return the tuples index and the letter

0 a
1 b
2 c
3 d
4 e
5 f
6 g
7 h

#### zip

In [63]:
my_list1 = [1,2,3,4,5]
my_list2 = ['a','b','c','d']

for item in zip(my_list1,my_list2): #zip till the index of the shortest list
    print (item)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')

In [62]:
list(zip(my_list1,my_list2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

#### min and max

In [64]:
list6= [1,4,5,8,54]
print(min(list6))
print(max(list6))

1
54

#### Random

In [67]:
from random import shuffle

shuffle(list6)

list6

[4, 54, 8, 5, 1]

In [69]:
from random import randint

randint(1,45)

3

#### input function

In [74]:
hey_there = input("enter a number here")
print(f" you have entered {hey_there}")
type(hey_there) # is always a string

enter a number here50
 you have entered 50

str

### List Comprehension

In [75]:
my_list = []
my_string ="hello"

for lett in my_string:
    my_list.append(lett)
my_list

['h', 'e', 'l', 'l', 'o']

In [77]:
my_list = [letter for letter in my_string]
print(my_list)

['h', 'e', 'l', 'l', 'o']

In [78]:
my_list = [letter for letter in "hello"]
print(my_list)

['h', 'e', 'l', 'l', 'o']

In [84]:
my_list = [nb for nb in range(0,11)]
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [85]:
my_list = [nb**2 for nb in range(0,11)]
print(my_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [87]:
my_list = [nb for nb in range(0,11) if nb % 2 == 0]
print(my_list)

[0, 2, 4, 6, 8, 10]

In [89]:
celcius = [0,10,14,21]

fahrneheit = [((9/5)*temp+ 32) for temp in celcius]

fahrneheit

[32.0, 50.0, 57.2, 69.80000000000001]